#Dashboard {
    padding: 2rem;
}

.simulated-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
    vertical-align: middle;
    margin-left: 0.5rem;
    color: var(--mat-sys-warn);
    font-size: 1.75em;
    cursor: help;
}

#TotalMetrics {

    mat-card-title {
        font-size: 1.25em;
        font-weight: 500;
    }
    
    .total-metric-number {
        font-size: 3em;
        font-weight: 800;
        margin: 1rem 0;
    }
}

#PlatformMetrics {
    margin-top: 2rem;

    .tile-grid {
        gap: 1.5rem 1rem;
    }

    mat-card-subtitle {
        font-size: 1em;
        font-weight: 400;
    }
    
    mat-card-content {
        margin-top: 1rem;

        .tile-grid {
            --rip-tile-grid-min-column-width: 150px;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .platform-metric-tile {
        background-color: var(--mat-sys-inverse-on-surface);
        padding: 1.5rem;
        padding-bottom: 2rem;
        font-size: 1rem;
        line-height: 1.25em;
        font-weight: 400;
    }

    .platform-metric-number {
        font-size: 2em;
        font-weight: 700;
        margin-top: 1rem;
    }
}