<section id="Dashboard">
    <div class="stack stack--row stack--space-between">
        <h1>Dashboard</h1>

        <mat-button-toggle-group [formControl]="filterControl" class="filter-box" name="filterOptions" aria-label="Filter Options"
            [hideSingleSelectionIndicator]="true">
            <mat-button-toggle value="today">Today</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <section id="TotalMetrics" class="tile-grid">
        <mat-card class="tile secondary" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <app-icon-container iconName="art_track" shape="square" class="primary" [noGradient]="true"></app-icon-container>
                    Total Posts
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="total-metric-number">
                    @if (dashboardData.isLoading()) {
                        <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
                    }
                    @else if (dashboardData.hasValue()) {
                        {{ dashboardData.value().publishedPosts }}
                    } 
                    @else {
                        N/A
                    }
                </div>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="tile secondary" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <app-icon-container iconName="social_distance" shape="square" class="tertiary" [noGradient]="true"></app-icon-container>
                    Total Reach
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="total-metric-number">
                    @if (dashboardData.isLoading()) {
                        <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
                    }
                    @else if (dashboardData.hasValue()) {
                        {{ dashboardData.value().totalReach }}
                    } 
                    @else {
                        N/A
                    }
                </div>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="tile secondary" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <app-icon-container iconName="thumb_up" shape="square" class="error" [noGradient]="true"></app-icon-container>
                    Total Likes
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="total-metric-number">
                    @if (dashboardData.isLoading()) {
                        <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
                    }
                    @else if (dashboardData.hasValue()) {
                        {{ dashboardData.value().totalLikes }}
                    } 
                    @else {
                        N/A
                    }
                </div>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="tile secondary" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <app-icon-container iconName="schedule" shape="square" class="warn" [noGradient]="true"></app-icon-container>
                    Scheduled Posts
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="total-metric-number">
                    @if (dashboardData.isLoading()) {
                        <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
                    }
                    @else if (dashboardData.hasValue()) {
                        {{ dashboardData.value().scheduledPosts }}
                    } 
                    @else {
                        N/A
                    }
                </div>
            </mat-card-content>
        </mat-card>
    </section>

    <section id="PlatformMetrics">
        <h3>Platform performance</h3>
        <div class="tile-grid">
            @if (dashboardData.isLoading()) {
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            } 
            @else if (dashboardData.hasValue()) {
                @for (item of dashboardData.value().statsForPlatforms; track $index) {
                    <mat-card class="tile secondary" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title>{{ item.platform }}</mat-card-title>
                            <mat-card-subtitle>{{ item.publishedPosts }} posts this period</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="tile-grid">
                                <div class="platform-metric-tile tile">
                                    <div class="platform-metric-label">Reach</div>
                                    <div class="platform-metric-number">{{ item.reach }}</div>
                                </div>
                                <div class="platform-metric-tile tile">
                                    <div class="platform-metric-label">Engagement</div>
                                    <div class="platform-metric-number">{{ item.engagement }}</div>
                                </div>
                            </div>
                            <div class="tile-grid">
                                <div class="platform-metric-tile tile">
                                    <div class="platform-metric-label">Likes</div>
                                    <div class="platform-metric-number">{{ item.likes }}</div>
                                </div>
                                <div class="platform-metric-tile tile">
                                    <div class="platform-metric-label">Avg. engagement</div>
                                    <div class="platform-metric-number">{{ item.averageEngagement }}</div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                }
            }
        </div>
    </section>
</section>