nav {
    padding: 1rem;

    > button {
        width: 100%;
    }
}

.brand-section {
    padding: .5rem;

    .logo {
        width: 40px;
        height: 40px;
    }

    h4 {
        margin: 0;
    }
}