<nav class="stack">
    <div class="brand-section stack stack--row stack--gap-sm stack--center">
        <img src="Logo.png" alt="RippleSync Logo" class="logo" />
        <h4>RippleSync</h4>
    </div>
    <mat-divider></mat-divider>
    <ul>
        <li><a routerLink="">Dashboard</a></li>
        <li><a routerLink="">My Posts</a></li>
        <li><a routerLink="">Platforms</a></li>
    </ul>
    <mat-divider></mat-divider>
    <button matButton="filled" class="dark">Logout</button>
    <div class="stack stack--row stack--center avatar-section">
        <app-icon-container iconName="person" size="sm"></app-icon-container>
        <div class="">john.doe@example.com</div>
    </div>
    <mat-divider></mat-divider>
    <button matButton="filled" class="error">Delete account</button>
</nav>