@use '@angular/material' as mat;
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--mat-sys-primary);
	background: linear-gradient(135deg, #3182CE -20%, #2C5282 100%);
    font-size: 1.5rem;
    text-align: center;
    color: var(--mat-sys-on-primary);
    
    mat-icon {
        color: inherit;
        font-size: inherit;
        height: 1em;
        width: 1em;
    }


    &.icon-container--no-gradient {
        background: unset;
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
    }

    &.square {
        border-radius: 8px;
    }

    &.icon-container--sm {
        width: 32px;
        height: 32px;
        font-size: 1.25rem;
    }
    &.icon-container--lg {
        width: 64px;
        height: 64px;
        font-size: 2rem;
    }
    
    &.tertiary {
    	background: linear-gradient( 135deg, transparent 15%, #00000026 115%);
        background-color: var(--mat-sys-tertiary);
        color: var(--mat-sys-on-tertiary);

        &.icon-container--no-gradient {
            background: unset;
            background-color: var(--mat-sys-tertiary-container);
            color: var(--mat-sys-on-tertiary-container);
        }
    }
    
    &.error {
    	background: linear-gradient( 135deg, transparent 15%, #00000026 115%);
        background-color: var(--mat-sys-error);
        color: var(--mat-sys-on-error);

        &.icon-container--no-gradient {
            background: unset;
            background-color: var(--mat-sys-error-container);
            color: var(--mat-sys-on-error-container);
        }
    }
    
    &.warn {
    	background: linear-gradient( 135deg, transparent 15%, #00000026 115%);
        background-color: var(--mat-sys-warn);
        color: var(--mat-sys-on-warn);

        &.icon-container--no-gradient {
            background: unset;
            background-color: var(--mat-sys-warn-container);
            color: var(--mat-sys-on-warn-container);
        }
    }
    
}