@use '@angular/material' as mat;
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 24px;
	background: linear-gradient(135deg, #3182CE -20%, #2C5282 100%);
    font-size: 1.5rem;
    text-align: center;
    color: var(--mat-sys-on-primary);
    
    mat-icon {
        color: inherit;
        font-size: inherit;
        height: 1em;
        width: 1em;
    }

    &.icon-container--no-gradient {
        background: none;
        background-color: var(--mat-sys-primary);
    }

    &.square {
        border-radius: 8px;
    }

    &.icon-container--sm {
        width: 32px;
        height: 32px;
        font-size: 1.25rem;
    }
    &.icon-container--lg {
        width: 64px;
        height: 64px;
        font-size: 2rem;
    }
    
    &.success {
        background-color: #48BB78;
        color: var(--mat-sys-on-primary);
    }
}