@use '@angular/material' as mat;

html {
	$button-rouding: .35rem;
	$button-horizontal-padding: 2.5rem;
	$button-height: 3rem;
	$button-text-size: 1rem;
	$button-text-weight: 600;

	@include mat.button-overrides((
		filled-container-shape: $button-rouding,
		filled-container-height: $button-height,
		filled-horizontal-padding: $button-horizontal-padding,
		filled-label-text-size: $button-text-size,
		filled-label-text-weight: $button-text-weight,

		text-container-shape: $button-rouding,
		text-container-height: $button-height,
		text-horizontal-padding: $button-horizontal-padding,
		text-label-text-size: $button-text-size,
		text-label-text-weight: $button-text-weight,

		protected-container-shape: $button-rouding,
		protected-horizontal-padding: $button-horizontal-padding,
		protected-container-height: $button-height,
		protected-label-text-size: $button-text-size,
		protected-label-text-weight: $button-text-weight,

		tonal-container-shape: $button-rouding,
		tonal-container-height: $button-height,
		tonal-horizontal-padding: $button-horizontal-padding,
		tonal-label-text-size: $button-text-size,
		tonal-label-text-weight: $button-text-weight,

		outlined-container-shape: $button-rouding,
		outlined-container-height: $button-height,
		outlined-horizontal-padding: $button-horizontal-padding,
		outlined-label-text-size: $button-text-size,
		outlined-label-text-weight: $button-text-weight,
		outlined-outline-width: 1.5px,
	));
}


.primary {
	@include mat.button-overrides((
		protected-container-color: var(--mat-sys-primary-container),
		protected-label-text-color: var(--mat-sys-on-primary-container),

		outlined-outline-color: var(--mat-sys-primary-container),
		outlined-label-text-color: var(--mat-sys-on-primary-container),

		filled-container-color: var(--mat-sys-primary),
		filled-label-text-color: var(--mat-sys-on-primary),

		tonal-container-color: var(--mat-sys-primary-container),
		tonal-label-text-color: var(--mat-sys-on-primary-container),

		text-label-text-color: var(--mat-sys-primary),
	));
}

.accent {
	@include mat.button-overrides((
		protected-container-color: var(--mat-sys-tertiary-container),
		protected-label-text-color: var(--mat-sys-on-tertiary-container),

		outlined-outline-color: var(--mat-sys-tertiary-container),
		outlined-label-text-color: var(--mat-sys-on-tertiary-container),

		filled-container-color: var(--mat-sys-tertiary),
		filled-label-text-color: var(--mat-sys-on-tertiary),

		tonal-container-color: var(--mat-sys-tertiary-container),
		tonal-label-text-color: var(--mat-sys-on-tertiary-container),

		text-label-text-color: var(--mat-sys-tertiary),
	));
}
.error {
	@include mat.button-overrides((
		protected-container-color: var(--mat-sys-error-container),
		protected-label-text-color: var(--mat-sys-on-error-container),

		outlined-outline-color: var(--mat-sys-error-container),
		outlined-label-text-color: var(--mat-sys-on-error-container),

		filled-container-color: var(--mat-sys-error),
		filled-label-text-color: var(--mat-sys-on-error),

		tonal-container-color: var(--mat-sys-error-container),
		tonal-label-text-color: var(--mat-sys-on-error-container),

		text-label-text-color: var(--mat-sys-error),
	));
}

.secondary {
	@include mat.button-overrides((
		protected-container-color: var(--mat-sys-secondary-container),
		protected-label-text-color: var(--mat-sys-on-secondary-container),

		outlined-outline-color: var(--mat-sys-secondary-container),
		outlined-label-text-color: var(--mat-sys-on-secondary-container),

		filled-container-color: var(--mat-sys-secondary),
		filled-label-text-color: var(--mat-sys-on-secondary),

		tonal-container-color: var(--mat-sys-secondary-container),
		tonal-label-text-color: var(--mat-sys-on-secondary-container),

		text-label-text-color: var(--mat-sys-secondary),
	));
}

.surface {
	@include mat.button-overrides((
		protected-container-color: var(--mat-sys-surface-container),
		protected-label-text-color: #2D4261,

		outlined-outline-color: var(--mat-sys-surface-container),
		outlined-label-text-color: var(--mat-sys-surface-container),

		filled-container-color: var(--mat-sys-surface),
		filled-label-text-color: #2D4261,

		tonal-container-color: var(--mat-sys-surface-container),
		tonal-label-text-color: var(--mat-sys-on-surface-container),

		text-label-text-color: var(--mat-sys-surface),
	));
}

.dark {
	@include mat.button-overrides((
		protected-container-color: #2D4261,
		protected-label-text-color: var(--mat-sys-surface),

		outlined-outline-color: #2D4261,
		outlined-label-text-color: #2D4261,

		filled-container-color: #2D4261,
		filled-label-text-color: var(--mat-sys-surface),

		tonal-container-color: #2D4261,
		tonal-label-text-color: var(--mat-sys-surface),

		text-label-text-color: #2D4261,
	));

}