<h2 mat-dialog-title>
  <app-icon-container iconName="login" shape="square"></app-icon-container>
  Login
</h2>

<mat-dialog-content>
  <form [formGroup]="loginForm">
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter your email" autocomplete="email" />
        <mat-error>{{ getErrorMessage(emailControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password"
          autocomplete="current-password" />
        <mat-error>{{ getErrorMessage(passwordControl) }}</mat-error>
      </mat-form-field>
    </div>

    @if (errorMessage()) {
    <div class="error-message">
      {{ errorMessage() }}
    </div>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton="outlined" type="button" class="" (click)="cancel()" [disabled]="isLoading()">
    Cancel
  </button>
  <button matButton="filled" type="submit" class="primary" [disabled]="isLoading() || loginForm.invalid" (click)="login()">
    @if (isLoading()) {
    <mat-spinner diameter="20"></mat-spinner>
    } @else {
    Login
    }
  </button>
</mat-dialog-actions>
