<h2 mat-dialog-title>{{(checkIfEdit() ? "Edit" : "Create") + " post"}}</h2>

<mat-dialog-content>
  <form [formGroup]="postFormGroup">
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Message content</mat-label>
        <textarea matInput formControlName="message" placeholder="Enter a message"></textarea>
        @if (messageControl?.invalid && (messageControl?.dirty || messageControl?.touched)) {
        <mat-error>{{ getErrorMessage(messageControl) }}</mat-error>
        }
      </mat-form-field>

      <mat-card class="upload-card full-width">
        <div class="drop-zone" [class.dragging]="isDragging()" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)">
          <p>Drag & drop your images here</p>
          <p><strong>or</strong></p>

          <button mat-raised-button color="primary" (click)="fileInput.click()">
            Select Files
          </button>

          <input #fileInput type="file" multiple accept=".jpg,.jpeg,.png" (change)="onFileSelect($event)" hidden />
        </div>

        <mat-divider class="divider"></mat-divider>

        @if (previews().length > 0) {
        <div class="preview-grid">
          @for (preview of previews(); track $index; let i = $index) {
          <div class="preview-item">
            <img [src]="preview" alt="Preview {{ i + 1 }}" />
            <button mat-icon-button color="warn" aria-label="Remove image" (click)="removeFile(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          }
        </div>
        } @else {
        <p class="placeholder-text">No images selected yet.</p>
        }

      </mat-card>

      <h3>Publishing options</h3>
      <mat-chip-listbox formControlName="timestampType">
        @for (option of timestampOptions; track option.value) {
        <mat-chip-option [value]="option.value" (click)="onChipSelect(option.value)">
          @if (option.value == timestampTypes.Scheduled && formattedScheduledDate()) {
          {{ formattedScheduledDate() }}
          } @else {
          {{ option.label }}
          }
        </mat-chip-option>
        }
      </mat-chip-listbox>

      @if (showDatePicker()) {
      <div class="date-time-picker-container">
        <mat-form-field appearance="outline" class="date-picker">
          <mat-label>Select date</mat-label>
          <input matInput [min]="minDate" [matDatepicker]="picker" [value]="getSelectedDate()"
            (dateChange)="onDateTimeChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="time-picker">
          <mat-label>Select time</mat-label>
          <input matInput type="time" [value]="getFormattedTime()" (change)="onTimeChange($event)">
        </mat-form-field>
      </div>
      }

      <h3>Select platforms</h3>
      <mat-chip-listbox formControlName="platforms" multiple [compareWith]="compareIntegrations">
        @for (integration of integrations(); track integration?.userPlatformIntegrationId) {
        <mat-chip-option [value]="integration">{{ integration.platFormName }}</mat-chip-option>
        }
      </mat-chip-listbox>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="postFormGroup.invalid" (click)="submit()">
    Save
  </button>
</mat-dialog-actions>

<app-ai-floating-chat></app-ai-floating-chat>
