@use '@angular/material' as mat;

article {
    height: 100vh;
    overflow-y: auto;
    > * {
        scroll-snap-type: y proximity;
        scroll-snap-align: start;
    }
}

.hero {
    height: 500px;

    .hero-content {
        max-width: 1200px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 20px;
    
        h1 {
            font-size: 2.5em;
            line-height: 1em;
            text-align: center;
            margin: 0;
        }
        
        p {
            line-height: 1.5em;
            text-align: center;
            margin: 0;
        }
    }

    &.hero--small {
        height: 350px;
    }
}

.main-section section{
    height: 100vh;

    &:nth-child(odd) {
        background-color: pink;
        background-color: var(--mat-sys-surface);
    }

    .section-content {
        text-align: center;
        max-width: 1200px;
        margin: auto;
        padding: 4rem 2rem;
    }
}

.platform-tile {
    font-size: 1.25em;
    font-weight: 500;
    width: 85px;
    padding: 2rem 3rem;
    border: 1px solid #E2E8F0;
    border-radius: .5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;

    .tile {
        height: 100%;
        padding: .75rem;
        border-radius: .5rem;

        mat-card-title {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            font-weight: 600;
            font-size: 1.25rem;
        }

        mat-card-content {
            font-size: .875rem;
            color: #4A5568;
            margin-top: .5rem;
        }
    }
}

.feature-tile {
    text-align: left;
}
.workflow-tile {
    text-align: center;
}


.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9em;
    color: #afafaf;
    background-color: #2D3748;
}

.background-gradient {
	background: linear-gradient(135deg, #2C5282 40%, #2D3748 100%);
	color: white;
}