h2[mat-dialog-title] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-top: 1rem;
}
.full-width {
  width: 100%;
}

.form-container {
  margin-top: 1rem;
}

mat-dialog-actions {
  gap: 0.5rem;
  flex-direction: column-reverse;

  mat-spinner {
    display: inline-block;
    margin: 0 auto;
  }

  button {
    min-width: 80px;
    width: 100%;
    margin: 0 !important;
  }

  @media screen and (min-width: 400px) {
    flex-direction: row;
    justify-content: flex-end;

    button {
      width: auto;
    }
  }

}
