<mat-toolbar class="navbar surface">
  <div class="navbar-content">
    @if (!authService.isAuthenticated()) {
      <button matIconButton class="menu-button" (click)="toggleDrawer()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    }
    <div class="navbar-brand">
      <img src="Logo.png" alt="RippleSync Logo" class="brand-logo" />
      <a routerLink="/" class="brand-link">RippleSync</a>
    </div>
    <div class="spacer"></div>
    <nav class="navbar-nav">
      @if (!authService.isAuthenticated()) {
        <app-stack direction="row" [gap]="1">
          <button matButton="elevated" class="surface" (click)="openLoginModal()">
            Login
          </button>
          <button matButton="filled" class="dark" (click)="openLoginModal()">
            Register
          </button>
        </app-stack>
      }
    </nav>
  </div>
</mat-toolbar>
