<mat-card class="example-card" appearance="outlined" style="margin-bottom: 1rem;">
    <mat-card-header>
        <mat-card-title>
            <h3>{{post().statusName}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
            <p>{{post().messageContent}}</p>
        </mat-card-subtitle>
        
    </mat-card-header>
    <mat-card-content>
        @for (media of post().mediaAttachment; track $index) {

        }
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <app-stack direction="row" justify="space-between">

            <mat-chip-set aria-label="Platforms">
                @for (platform of post().platforms; track $index) 
                {
                    <mat-chip>{{platform}}</mat-chip>
                }
            </mat-chip-set>
            
            <p >{{post().statusName}} {{post().timestamp | date:'dd/MM/yyyy'}}</p>
        </app-stack>
    </mat-card-footer>
</mat-card>