mat-card {
    padding: 0.5;
    background-color: #ffff;
}
mat-divider {
    margin: 0rem 1rem;
}
.card-footer {
    padding: 16px;
}
mat-card-header {
    display: block;
}
.status-chip{
    font-size: medium;
    font-weight: 600;
    padding: 5px 15px;
    align-self: center;
    border-radius: 0.50rem;
    text-transform: lowercase;
}

.failed{
    color: var(--mat-sys-on-error-container);
    background-color: var(--mat-sys-error-container);
}
.processing{
    color: var(--mat-sys-on-warn-container);
    background-color: var(--mat-sys-warn-container);
}
.scheduled{
    color: var(--mat-sys-on-primary-container);
    background-color: var(--mat-sys-primary-container);
}

.posted{
    color: var(--mat-sys-on-tertiary-container);
    background-color: var(--mat-sys-tertiary-container);
}

.draft {
    color: var(--mat-sys-on-secondary-container);
    background-color: var(--mat-sys-secondary-container);
}